<div ng-controller = 'quizController'>
	<h3 ng-show='!played' >How much useless stuff do you know, <span ng-bind='player'></span>?</h3>
	<h3 ng-show='played'>Congratulations <span ng-bind='resultsPlayer'></span>! </h3>
	<div class='col-sm-10 col-sm-offset-1 well'>
		<!-- Game -->
		<form ng-show='!played'  name='quizForm' novalidate>
			<div ng-repeat='question in quiz'>
				<p><span ng-bind='question.number + 1'></span>) <span ng-bind='question.question' ></span>: </p>
				<div ng-repeat='answer in question.quizAnswers' class="radio">
				  <label>
				    <input type="radio" name="{{$parent.question.number}}" ng-model='$parent.$parent.answers[$parent.question.number]'  value="{{answer}}" required> 
				    <span ng-bind='answer'></span>
				  </label>
				</div>
			</div> <!-- end of questions -->

			<button ng-disabled='quizForm.$invalid' ng-click='play()' class='btn btn-success'>Submit Quiz</button> <button class='btn btn-danger' ng-click='cancel()'>Cancel</button>

		</form> <!-- end of Game -->

		<!-- Results Form -->
		
		<div ng-show='played' class='results'>
			<h4>You got <span ng-bind='resultsScore'></span> correct, for score of <span ng-bind='resultsPercentage'></span>%.</h4>
			<button class='btn btn-primary' ng-click='cancel()' >Go Home</button> <button class='btn btn-success' ng-click='playAgain()' >Play Again</button>
			<div ng-repeat='question in quiz'>
				<p><span ng-bind='question.number + 1'></span>) <span ng-bind='question.question' ></span>: </p>
				<p><span ng-bind='question.correctAnswer' ></span></p>
			</div>
		</div> <!-- end of Results Form -->

	</div> <!-- end of Well -->
	
</div>